#addUser
	.card
		.card-header 
			| Add User
		.card-body 
			form
				.form-group
					.row
						label.col-md-3 Username
						.col-md-9		
							input#inputUserName.form-control(type='text', placeholder='Username')
				.form-group
					.row
						label.col-md-3 Email
						.col-md-9
							input#inputUserEmail.form-control(type='text', placeholder='Email')		
				.form-group
					.row
						label.col-md-3 Full Name
						.col-md-9
							input#inputUserFullname.form-control(type='text', placeholder='Full Name')
				.form-group
					.row
						label.col-md-3 Username
						.col-md-9
							input#inputUserAge.form-control(type='text', placeholder='Age')
				.form-group
					.row
						label.col-md-3 Username
						.col-md-9
							input#inputUserLocation.form-control(type='text', placeholder='Location')
				.form-group
					.row
						label.col-md-3 Username
						.col-md-9
							input#inputUserGender.form-control(type='text', placeholder='gender')
		.card-footer
			button#btnAddUser.btn.btn-primary Add User