doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
	body		
		block content
		script(src='http://images.communicate.netapp.com/Web/NetAppInc/%7B12052f2b-61a3-48c2-85ff-0a044a1d749a%7D_jquery-1.8.1.min.js') 
		script(src='javascripts/global.js')