.container
	nav.navbar.navbar-toggleable-sm.navbar-light
		button.navbar-toggler.navbar-toggler-right(type="button",data-toggle="collapse",data-target="#navbarSupportedContent",aria-controls="navbarSupportedContent",aria-expanded="false",aria-label="Toggle navigation")
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href="#") My Project
		.collapse.navbar-collapse#navbarSupportedContent
			ul.navbar-nav.mr-auto
				li.nav-item.active
				p Home
					//a.nav-link(herf=#) hOME					
				//li.nav-item.active
					//a.nav-link(herf=#) About Me
				//li.nav-item.active
					//a.nav-link(herf=#) Contact Me 